"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "platformio-ide-terminal"
      "tree-view"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 5
  "exception-reporting":
    userId: "73497c37-6ea8-4666-9e22-a325fa2ddbea"
  "markdown-preview": {}
  welcome:
    showOnStartup: false
